<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Algolia search javascript library -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<!-- Algolia search -->
  <script type="text/javascript"> docsearch({

  // Public readonly api search key
  apiKey: '761b121f117dc5882bfa9e6b1a7abd88',
  // Search index located @ Algolia
  indexName: 'suse-publisher',
  // Id name of input selector
  inputSelector: '#docsearch-input',
  enhancedSearchInput: true,
  debug: false // Set debug to true if you want to inspect the dropdown
  });
  </script>
</head>
